/* Estilos personalizados para o carrossel */

.carousel{
    background-color: white;
}
.carousel-item img {
    max-height: 100px; /* Defina a altura máxima dos logos dos clientes */
    display: flex; /* Define o layout flexível para os itens do carrossel */

    margin: auto; /* Centraliza os logos horizontalmente */
}

/* Estilos para os controles do carrossel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Define a largura dos botões de controle */
}

/* Estilos para os ícones dos controles do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px; /* Define a largura dos ícones de controle */
    height: 30px; /* Define a altura dos ícones de controle */
    background-color: #333; /* Define a cor de fundo dos ícones de controle */
    border-radius: 50%; /* Define um raio de borda para arredondar os ícones de controle */
}

/* Estilos para os ícones dos controles do carrossel quando passa o mouse */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #555; /* Define a cor de fundo dos ícones de controle quando passa o mouse */
}
