@inherits LayoutComponentBase
@using AtiveWeb.Pages.Components 

<div class="page">
      
  
    <main>
        <NavMenu />

        <article class="content px-4 with-background">
            @Body
        </article>
        
        <Footer />
    </main>
</div>