/* Estilos para o footer */
.footer {
    background-color: #188736; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto */
    padding: 50px 0; /* Espaçamento interno */
}

.footer h5 {
    font-family: "Cuprum", sans-serif; /* Fonte dos títulos */
    font-size: 24px; /* Tamanho dos títulos */
    color: #fff; /* Cor do texto dos títulos */
}

.footer p {
    font-family: "Cuprum", sans-serif; /* Fonte dos parágrafos */
    font-size: 16px; /* Tamanho dos parágrafos */
    color: #ccc; /* Cor do texto dos parágrafos */
}

.footer a {
    color: #fff; /* Cor dos links */
}

.footer-bottom {
    background-color: #0d652d; /* Cor de fundo da parte inferior do footer */
    padding: 20px 0; /* Espaçamento interno */
}

.footer-bottom p {
    font-family: "Cuprum", sans-serif; /* Fonte do texto */
    font-size: 14px; /* Tamanho do texto */
    color: #ccc; /* Cor do texto */
}
