
.banner {
    margin-left: 20px; /* Reduz a margem esquerda do container */
    margin-right: 10px; /* Reduz a margem direita do container */
    margin-bottom: 20px;
  }

/* Estilos para telas pequenas */
@media (max-width: 641px) {
    .banner {
      flex-direction: column;
      margin-left: -12px; /* Reduz a margem esquerda do container */
      margin-right: -12px; /* Reduz a margem direita do container */
      padding: 0px;
    }    
  }
  
  /* Estilos para telas médias */
  @media (min-width: 641px) and (max-width: 992px) {
    .banner {
      flex-wrap: wrap;
    
    }

  }
  
  /* Estilos para telas maiores */
  @media (min-width: 992px) {
    .banner {
      flex-direction: row;
      margin-bottom: 0px;

    }
  }
  