.form-style {
    position: fixed;
    top: 65%; /* Posiciona o formulário no meio da tela verticalmente */
    right: 0; /* Alinha o formulário à direita da tela */
    transform: translateY(-50%); /* Move o formulário para cima pela metade de sua altura para centralizá-lo verticalmente */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 400px;
    margin-right: 20px;
    z-index: 999; /* Ajuste o valor conforme necessário para trazer o formulário para frente */
    transition: background-color 0.3s; /* Adiciona transição para suavizar a mudança de cor */

}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Cor da borda dos campos */
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease; /* Transição suave da cor da borda */
}
textarea.form-control {
    height: 40px; /* Ajuste a altura conforme necessário */
}

.form-control:focus,
.form-control:active {
    border-color: #4CAF50; /* Cor da borda quando o campo está ativo ou clicado */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra ao redor do campo quando está ativo ou clicado */
    outline: none; /* Remove a borda de foco padrão */
}


