.products {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;

}
/* Estilos padrão dos produtos */

.product {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 4px;
    /* Adicionando borda verde */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
}

.product:hover {
    transform: translateY(-5px);
    background-color: #4CAF50; /* Cor de fundo ativa */
}

/* Estilos dos produtos ativos */
.product:active {
    transform: translateY(-5px);
    background-color: #4CAF50; 
}

/* Estilos para telas pequenas */
@media (max-width: 641px) {
    .container.d-flex {
      flex-direction: column;
      margin-right: 30px;
      margin-left: -12px; /* Reduz a margem esquerda do container */
    }

    .products {
        padding: 20px;
        margin-left: 0px;
        padding-top: 60px;

    }

    .product {
        width: calc(110%); /* Cada produto ocupa metade da largura do container, com margem de 8px */
        margin-bottom: -126px; /* Adiciona uma margem inferior de 8px entre os produtos */
        /* Reduzir proporcionalmente o tamanho dos cards */
        transform: scale(0.7); /* Reduzir o tamanho em 10% */
        transition: transform 0.3s ease; /* Adicionar uma transição suave */
      }
      .product:first-child {
        margin-top: -100px;
      }
    
      .product:last-child {
        margin-bottom: -64px; /* Remove a margem inferior do último produto */
      }
    
    
      .product:hover {
        transform: scale(0.75); /* Aumentar o tamanho de volta para 100% no hover */
      }
      
  }
  
  /* Estilos para telas médias */
  @media (min-width: 641px) and (max-width: 992px) {
    .container.d-flex {
      flex-wrap: wrap;

    }
  
    .product {
      width: calc(50% - 16px); /* Cada produto ocupa metade da largura do container, com margem de 8px */
      margin: 0px 0px -16px 0px; /* Adiciona uma margem de 8px entre os produtos */
      /* Reduzir proporcionalmente o tamanho dos cards */
      transform: scale(0.9); /* Reduzir o tamanho em 10% */
      transition: transform 0.3s ease; /* Adicionar uma transição suave */
    }
  
  
    .product:hover {
      transform: scale(0.95); /* Aumentar o tamanho de volta para 100% no hover */
    }
  }
  
  /* Estilos para telas maiores */
  @media (min-width: 992px) {
    .container.d-flex {
      flex-direction: row;
    }
  }
  