.products {
    background-color: white;
    margin-bottom: 30px;
    padding: 50px 0;
    padding-bottom: 30px;

}
/* Estilos padrão dos produtos */

.product {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    /* Adicionando borda verde */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
    /* Adiciona uma margem à esquerda */
    margin-right: 20px;
    /* Adiciona uma margem à direita */
}

.product:hover {
    transform: translateY(-5px);
    background-color: #4CAF50; /* Cor de fundo ativa */
}

/* Estilos dos produtos ativos */
.product:active {
    transform: translateY(-5px);
    background-color: #4CAF50; 
}

@media (max-width: 641px) {

    .container{
        
    }
}