.services {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
}
/* Estilos padrão dos produtos */

.service {
    width: calc(110%); /* Cada produto ocupa metade da largura do container, com margem de 8px */
    margin-top: -50px; /* Adiciona uma margem inferior de 8px entre os produtos */

    /* Reduzir proporcionalmente o tamanho dos cards */
    transform: scale(0.7); /* Reduzir o tamanho em 10% */
    transition: transform 0.3s ease; /* Adicionar uma transição suave */
  }
  
  .service:hover {
    transform: scale(0.75); /* Aumentar o tamanho de volta para 100% no hover */
  }

 

/* Estilos para telas pequenas */
@media (max-width: 641px) {
  .container.services {
    flex-direction: column;
    }
    
  .service {
    width: calc(90%); /* Cada produto ocupa metade da largura do container, com margem de 8px */

  }

  .service:first-child{
    margin-top: -90px; /* Adiciona uma margem inferior de 8px entre os produtos */ 
  }
  .service:last-child{
    margin-top: -220px; /* Adiciona uma margem inferior de 8px entre os produtos */

  }
      
  }
  
  /* Estilos para telas médias */
  @media (min-width: 641px) and (max-width: 992px) {
    .container.services {
      flex-direction: wrap;
      }
  
    .service:first-child{
      margin-top: -10px; /* Adiciona uma margem inferior de 8px entre os produtos */ 
      margin-right: -20px;
      }
      .service:last-child{
      margin-top: -230px; /* Adiciona uma margem inferior de 8px entre os produtos */
  
      }
  
   
  }
  
  /* Estilos para telas maiores */
  @media (min-width: 992px) {
    .container.services {
      flex-direction: row;
      }
    .service:first-child{
    margin-top: -110px; /* Adiciona uma margem inferior de 8px entre os produtos */ 
    margin-right: -20px;
    }
    .service:last-child{
    margin-top: -140px; /* Adiciona uma margem inferior de 8px entre os produtos */

    }
  }



  