<!-- Footer.razor -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contato</h5>
                <ul class="list-unstyled">
                    <li>Telefone: (00) 1234-5678</li>
                    <li>Email: contato@seusite.com</li>
                    <li>Endereço: Rua Exemplo, 123 - Cidade</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Sobre</h5>
                <p>Seusite é uma agência digital especializada em criar sites incríveis e estratégias de marketing digital para impulsionar o seu negócio.</p>
            </div>
          
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">© 2024 Seusite - Todos os direitos reservados</p>
                </div>
            </div>
        </div>
    </div>
</footer>
